#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfplan files
*.tfplan

**/.terraform.lock.hcl

# terragrunt-cache
**/.terragrunt-cache/*

# IDEs
*.swp
*.swo
.idea/*
